
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
:root {
    --text-color:lightskyblue;


}

body {
    font-size: large;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background-color: rgb(40, 50, 140);
    color:var(--text-color);

}
a {
    color:var(--text-color);

}
.animated {
    animation:colorchange 4s;
    animation-iteration-count: infinite;

}
 @keyframes colorchange {
    from {
        color:var(--text-color);
    }
    50%{
        color:purple;
    }
    to {
        color:var(--text-color);

    }
   }
table,th,td {
    margin-bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:var(--text-color);
    border: 3px solid rgb(100, 100, 190);
    border-collapse: collapse;
    
}
td {
    width: 250px;
}
/*
.heading:hover {
    color: aquamarine;
}
*/
a:hover {
    color:whitesmoke;
   
    font-family: 'Mooli', sans-serif;

}
button:hover{
    background-color: aquamarine;
}



/*

.home {
    display:flex;
    justify-content: center;
}
*/


.heading {
    background-color: slateblue;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    border:10px solid slateblue;
    border-radius: 10px;
    margin-top: 0% !important;
    
}




h2{
    padding-top: 200px;
    margin-top: 0px;
    font-size: 40px;
    text-align: center;
    color:var(--text-color);
}

button {
    border-radius: 10px;
    border-style: ridge;
}

















/*

h1 {
    margin-top:0px;
    position: fixed;
    top: 0;
    left: 34%;
    width: 30%;
    background-color: #21174b;
    color: #fff;
    padding: 0px;





    border:10px solid rgb(0, 0, 255);
    border-radius: 30px;


    text-align: center;
    font-size: 48px;
    color:LightSkyBlue;
}




body {
    margin-top:100px;
    font-size: 36px;
    text-align: center;
    background-color: rgb(40, 50, 140);
    color:lightskyblue;

}

a {
    
    color:rgb(80, 80, 255) ;
    text-align:center;

}

p {
    margin-top: 0px;
    font-size: 12px;
    color:LightSkyBlue; 

}


section.home {
    margin-top:140px;
    position: fixed;
    top:0;
    left:45%;
    text-align: center;
    width: 100px;
    
    background-color: #333;
    color: #fff;
  




    border-radius: 40px;
    border:10px solid rgb(11, 0, 128);
    border-collapse:collapse;
    

}
input {
    margin-top: 300px;

}
button {
    margin-top: 10px;
}
h4{
    font-size:20px;
}
*/